/* FONT WEIGHT */
@import url("./font.css");

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* FONT-SIZE */
html {
  font-size: 62.5%;
}

/* VARIABLE */
:root {
  --color-primary: rgb(33, 159, 149);
  --color-secondary: rgb(175, 206, 221);
  --color-secondary-dark: rgb(35, 72, 148);
  --color-body-text: rgb(30, 30, 30);
  --color-detail: rgb(105, 105, 105);
  --color-text-button: rgb(255, 255, 255);
  --color-backgroun: rgb(255, 255, 255);

  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
}

/*--------------------------------------- STYLE FOR CONTENT */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

.panel-ticket {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  height: auto;
  margin: 100px 3px;
  box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-lg);
}
.panel-ticket .panel__title {
  margin: 6rem 0;
}
.panel__items {
  display: grid;
  row-gap: 5rem;
  padding: 5rem 0 10rem;
  margin-top: 1rem;
}
.panel__items .panel {
  width: 295px;
  height: 200px;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius-lg);
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

/*-------------------- panel detail */
.panel .panel__detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.panel__detail .detail__id {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--color-secondary-dark);
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-md);
  font-size: 1.2rem;
}
.panel__detail .detail__upload {
  position: relative;
  left: 45px;
  top: 1px;
  font-weight: bold;
  color: var(--color-secondary-dark);
  font-size: 1.2rem;
}
.panel__detail .detail__date {
  color: var(--color-detail);
  font-size: 1.2rem;
}

/*---------------- panel membership */
.panel__membership {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.panel__membership h3 {
  font-size: 1.5rem;
  color: var(--color-body-text);
  margin-bottom: 0.5rem;
}
.panel__membership span {
  color: var(--color-detail);
  font-size: 1rem;
}

/*----------------- panel user-info */
.panel__user-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 1rem;
}
.panel__user-info img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}
.panel__user-info-name {
  position: relative;
  left: 20px;
  top: 10px;
  color: var(--color-body-text);
  font-size: 1.2rem;
  font-weight: bold;
}
.panel__user-info-btn {
  outline: 0;
  border: var(--color-primary);
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: var(--border-radius-md);
  color: var(--color-text-button);
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
/* END STYLE FOR CONTENT--------------------------------- */

/*------------------------------------ MEDIA FOR CONTENT */

@media screen and (min-width: 768px) {
  .panel-ticket {
    margin: 100px 10px;
  }
  .panel__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
    padding: 3rem 0 10rem;
  }
  .panel__detail .detail__upload{
    left: 36px;
  }
  .panel__user-info-name{
    left: 17px;
  }
 
}

@media screen and (min-width: 1024px) {
  .panel-ticket {
    margin: 100px auto;
  }
  .panel__items {
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 0 10rem;
  }
  .panel__detail .detail__upload{
    left: 30px;
  }
  .panel-ticket .panel__title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-right: 13rem;
  }
 
}

/* END MEDIA FOR CONTENT------------------------------- */

/*-------------------------------- MEDIA FOR FONT-SIZE */
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .panel__detail .detail__id {
    font-size: 1.4rem;
  }
  .panel__detail .detail__upload {
    font-size: 1.4rem;
  }
  .panel__detail .detail__date{
    font-size: 1.4rem;
  }
  .panel__user-info-btn{
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  .panel__detail .detail__id {
    font-size: 1.6rem;
  }
  .panel__detail .detail__date{
    font-size: 1.5rem;
  }
  .panel__detail .detail__upload {
    font-size: 1.5rem;
  }
}
/* END MEDIA FOR FONT-SIZE--------------------------- */
